* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  height: 100vh;
  cursor: crosshair;
}

.bubble {
  position: absolute;
  border-radius: 300px;
  background: #d40505;
  opacity: 0;
  animation: anim 8s forwards;
  filter: hue-rotate(0deg);
}

h3 {
  z-index: 1;
  font-size: 10rem;
  text-align: center;
  color: rgba(128, 128, 128, 0.571);
}

@keyframes anim {
  to {
    top: -250px;
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(720deg);
  }
}

.allMight {
  z-index: -1;
  height: 100vh;
}
