* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  height: 100vh;
  cursor: crosshair;
}
h3 {
  z-index: 1;
  max-width: 10%;
  margin-left: 45%;
  font-size: 10rem;
  color: rgba(128, 128, 128, 0.571);
}
.chooseGameMode {
  display: flex;
  width: 100%;
  height: 15vh;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.648);
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.chooseGameMode.hidden {
  opacity: 0;
  z-index: -10;
}

.buttons {
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 2vh;
  width: 100%;
  gap: 5vw;
}
#B1 {
  background-color: rgb(139, 218, 139);
  padding: 10px 15px;
}

#B2 {
  background-color: yellow;
  padding: 10px 15px;
}
#B3 {
  background-color: red;
  padding: 10px 15px;
}

/* General */
.bubble {
  position: absolute;
  border-radius: 300px;
  background: #d40505;
  opacity: 1;
  animation: colorFade 3s linear forwards infinite;
}

@keyframes colorFade {
  from {
    filter: hue-rotate(0deg);
    opacity: 1;
  }
  to {
    opacity: 1;

    filter: hue-rotate(360deg);
  }
}

.specialBubble {
  position: absolute;
  border-radius: 300px;
  background: rgb(227, 178, 53);
  opacity: 1;
}

/* easy */
.easyBubble {
  border-radius: 300px;
  background: #d40505;
  opacity: 1;
}

.specialEasyBubble {
  border-radius: 300px;
  background: rgb(227, 178, 53);
  opacity: 1;
}

/* Medium */
.mediumBubble {
  border-radius: 300px;
  background: #d40505;
  opacity: 1;
}

.specialMediumBubble {
  border-radius: 300px;
  background: rgb(227, 178, 53);
  opacity: 1;
}

/* Hard */
.hardBubble {
  border-radius: 300px;
  background: #d40505;
  opacity: 1;
}

.specialHardBubble {
  border-radius: 300px;
  background: rgb(227, 178, 53);
  opacity: 1;
}
